---
import DefaultLayout from "../../layouts/defaultLayout.astro"
import BlogCard from "../../components/blogCard.astro"
---

<DefaultLayout title="blog">
    <h1>Blog</h1>
    <h2>Page coming soon</h2>

    <BlogCard />    

    <a href="/blog/posts/test/">test</a>
    
</DefaultLayout>

