---
import DefaultLayout from "../layouts/defaultLayout.astro";
---

<DefaultLayout title="About Me" description="A page about me">
    <h1>About me</h1>
    <h2>Page coming soon</h2>
</DefaultLayout>