---
import DefaultLayout from "../layouts/defaultLayout.astro"
---

<DefaultLayout 
	title="Home"
	description="The personal website and blog of Ben B. Roberts.">
	<div id="header">
		<div id="image">
			<img src="/images/headshot.JPG" alt="headshot image">
		</div>
		<div id="tagline">
			<h1>Hi I'm <u>Ben Roberts</u> &#128075; </h1>
			<div id="subline">
				<h2>I do things</h2>
				<p>
					I'm a recent graduate from the University of Maryland with a bachelors degreee in computer science.
					Currently I am taking a year off to travel, write, and explore my many hobbies. 
					I primarily live in Berkeley, California.
				</p>
				<div id="buttons">
					<a href="/files/ResumeFall2024NoContact.pdf" download="BenRobertsResume.pdf"><button>Download Resume/CV</button></a>
					<button>Contact Me</button>
					</div>
				</div>
				<p>
				<small>This is a work in progress site. Nothing is final and will likely change in the future. Features may break or be unimplemented</small>
				</p>
			</div>
		</div>
	</div>
</DefaultLayout>

<style>
	#header{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
		padding: 10vh;
	}
	#image{
		width: 40vh;
		height: auto;
		border-radius: 10%;
		overflow: hidden;
	}
	img{
		height:100%;
	}
	#tagline{
		display: flex;
		flex-direction: column;
		width: 20rem;
	}
	#subline{
		margin: 0;
	}
	h2{
		margin: 0;
	}
	u{
		color: var(--accent-color);
	}
	#buttons{
		display: flex;
		gap: .75rem;
	}
	button{
		background-color: var(--accent-color);
		color: var(--background-color);
		border-radius: 15px;
		cursor: pointer;
		font-size: 1rem;
		padding:.3rem .6rem .3rem .6rem;
		box-sizing: border-box;
		border: 0;			
	}
	small{
		color: gray;
	}
	@media (max-width: 600px) {
		#header {
			padding: 5vh 2vw; /* Adjust padding for smaller viewports */
		}
	}
</style>
