---
import DefaultLayout from "../layouts/defaultLayout.astro"
---

<DefaultLayout 
	title="Home"
	description="The personal website and blog of Ben B. Roberts.">
	<div id="header">
		<div id="image">
			<img src="/images/headshot.JPG" alt="headshot image">
		</div>
		<div id="tagline">
			<h1>Hi I'm <u>Ben Roberts</u> &#128075; </h1>
			<div id="subline">
				<h2>I do things</h2>
				<h2>Hire me</h2>
				<div id="buttons">
					<a download="/images/headshot.jpg"><button>Download Resume/CV</button></a>
					<button>Contact Me</button>
				</div>
			</div>
		</div>
	</div>
</DefaultLayout>

<style>
	#header{
		display: flex;
		justify-content: center;
		gap: 2rem;
	}
	#image{
		width: 15rem;
		height: auto;
		border-radius: 10%;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	img{
		width: 100%;
		height: auto;
		display: block;
	}
	#tagline{
		display: flex;
		flex-direction: column;
	}
	#subline{
		margin-left: 1rem;
	}
	h2{
		margin: 0;
	}
	u{
		color: var(--accent-color);
	}
	button{
		background-color: var(--accent-color);
		border-radius: 10px;
		cursor: pointer;			
	}
</style>
