---
import '@fortawesome/fontawesome-free/css/all.min.css';
---

<footer>
    <small>
        <p>&copy <span id="year"></span> Benjamin Roberts. All rights reserved.</p>
        <ul>
            <li><a href="https://github.com/SenorBoberts"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/benrobertsplus1/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-medium"></i></a></li>
        </ul>
    </small>
</footer>

<script>
    document.querySelector("#year").textContent = new Date().getFullYear().toString();
</script>

<style>
    p {
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 1rem;
    }
    li{
        padding-bottom: 1rem;
    }
    a{
        color: var(--text-color);
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
</style>