---
import { Icon } from 'astro-icon/components'
---

<div>
<nav>
    <a>Home</a>
    <ul>
        <li><a>About Me</a></li>
        <li><a>Blog</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>
</div>

<style>
    div{
        background: var(--header-bg-color);
    }
    nav{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
    a:hover{
        color: var(--accent-color);
    }
    a{
        text-decoration: none;
        font-size: 1rem;
    }
    ul{
        display: flex;
        gap: 2rem;
    }
    li{
        list-style: none;
        display: flex;
    }
</style>