---
import { Icon } from 'astro-icon/components'
---

<div>
<nav>
    <a href="/">Ben Roberts</a>
    <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
</div>

<style>
    div{
        width: 100%;
        background: var(--header-bg-color);
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        padding: 0 1rem;
    }
    a:hover{
        color: var(--accent-color);
    } 
    ul{
        display: flex;
        gap: 2rem;
    }
    li{
        list-style: none;
        display: flex;
    }
</style>